
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <br />
    <br />
    <div class="lead text-center" style="height:140px"> 
        Success!
        </div>
</body>
</html>
