
@{
    ViewBag.Title = "RS";
}

<div class="main-content" id="content">
    <h2>Registration Sucessfully Completed , Verification Email Link send to your Email address before login verify your acount. </h2>
    </div>
